body {
	font-family: 'Inconsolata', monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: rgb(0, 0, 0);
}
.container {
	border: 10px solid rgb(255, 255, 255);
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color:#fff;
	font-size: 32px;
	border-radius: 50%;
	background: rgb(0, 0, 0);
	box-shadow:0 0 12px rgba(255, 255, 255, 0.63), 0 0 12px rgba(255, 255, 255, 0.548) inset;
}
.blink-colon {
	animation: blink 1s infinite;
}
@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	30% {
		opacity: 0.4;
	}
}
.date-container {
	margin-top: 6px;
	font-size: 16px;
	color: rgba(255,255,255,0.8)
}